<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.2/iconfont/material-icons.min.css" integrity="sha512-y9glprRcVESvYY3suAqBUYXx0ySbQNvbzzgvLy9F2o38Y7XCNeq/No2gnHjV3+Rjyq5ijoPZRMXotpdw6jcG4g==" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

    <title>Chat Window</title>
</head>



<body>

    <section>

        <h1>Chat Popup</h1>
        <p>Cliquez sur l'icône pour déployer le chat.</p>

        <button class="chat-btn">
        <i class="material-icons">live_help</i>
        </button>

        <div class="chat-popup">
            <div class="badge">1</div>
            
            <div class="chat-area">
                <div class="income-msg">
                    <img class="avatar" src="img/bot.png" alt="">
                    <span class="msg"> Bonjour, comment puis-je vous aider ?</span>
                </div>
            </div>            
        
            <div class="input-area">
                <input type="text">
                <button id="emoji-btn">&#128512;</button>
                <button class="submit">
                <i class="material-icons">send</i></button>
            </div>
        
        </div>

    </section>


    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.1.1/dist/index.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>